<div class="container">
    <h1>Welcome!</h1>
    You can manage you todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click here to get a customised welcome message<br>
    <button (click)="getWelcomeMessage()" class="btn btn-success mr-1">Get Welcome Message</button>
    <button (click)="getWelcomeMessageWithName()" class="btn btn-success padding">Get Welcome Message with Name</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    <p>{{ welcomeMessageFromService }}</p>
</div>